body {
	height: 100vh;
	margin: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	font-family: IBM Plex Mono;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logo img {
	height: 35px;
	fill: #36e270;
}

.titulo hr {
	border-color: #323743;
}

.container {
	display: flex;
	flex-direction: column;
	border: 2px solid #323743;
	padding: 20px;
	border-radius: 0px;
	background-color: #191b21;
	width: 300px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #bdc1caff;
	gap: 20px;
}

h1 {
	color: #36e270;
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 30px;
	height: max-content;
}

.formulario {
	display: flex;
	flex-direction: column;
	text-align: start;
}

.formulario label {
	padding: 5px 2px;
}

.formulario input {
	background-color: black;
	height: 40px;
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.input-wrapper input {
	width: 100%;
	box-sizing: border-box;
	padding-left: 40px;
	font-family: monospace;
	font-size: 13px;
	color: aliceblue;
}

.input-wrapper .icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.btn-login,
.btn-cadastro {
	margin: 10px 0px;
	padding: 10px 0;
	background-color: #36e270;
	color: rgb(13, 13, 14);
	width: 100%;
	border: 0;
	cursor: pointer;
	transition: 0.3s;
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-login:hover,
.btn-cadastro:hover {
	background-color: #02a137;
}

.btn-cadastro {
	text-align: center;
	text-decoration: none;
}

.ou {
	display: flex;
}

.ou hr {
	border-color: #323743;
	width: 40%;
	height: 1px;
}

.btn-recuperar {
	color: aliceblue;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
