body {
	height: 100vh;
	margin: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.identificador {
	border: 2px solid rgb(75, 72, 72);
	padding: 20px;
	border-radius: 0px;
	background-color: rgb(21, 22, 22);
	width: 300px;
	text-align: center;
}
h1 {
	color: rgb(24, 175, 44);
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
	height: max-content;
}
h3 {
	color: aliceblue;
	font-size: 13px;
	font-family: monospace;
}
h4 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	color: rgb(51, 48, 48);
}
h6 {
	font-family: monospace;
}
#email {
	color: aliceblue;
	font-family: monospace;
	font-size: 8px;
	text-align: left;
}
.btn-login {
	background-color: rgb(24, 175, 44);
	color: rgb(13, 13, 14);
	width: 100%;
	border: 0;
	cursor: pointer;
	transition: 0.3s;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-login:hover {
	background-color: rgb(109, 241, 127);
}
.chave-acesso {
	color: aliceblue;
	font-family: monospace;
	text-align: left;
	font-size: 8px;
}
.nova-conta {
	color: rgb(24, 175, 44);
	font-family: monospace;
	font-size: small;
	cursor: pointer;
}
.logo {
	text-align: left;
	font-size: small;
}
hr {
	color: rgb(36, 32, 32);
	background-color: rgb(48, 47, 47);
}
